          
          <div class="talks">
            <!-- <h2>talks</h2> -->
            <h2>talks</h2>
            <strong>Is Your Imitation Learning Policy Better Than Mine? Policy Comparison with Near-Optimal Stopping</strong>
            <ul style="list-style-type:none;">
              <li>March 7th, 2025: <a href='https://www.georgejpappas.org/group/'>Pappas Group</a>, University of Pennsylvania</li>
              <li>March 31rst, 2025: <a href='https://viterbischool.usc.edu/'>USC CPS Seminar</a>, University of Southern California</li>
            </ul>  
            <strong>Privacy-Preserving Map-Free Exploration for Confirming the Absence of a Radioactive Source</strong>
            <ul style="list-style-type:none;">
              <li>June 2nd, 2023: <a href='https://sites.google.com/view/lab2realgap'>ICRA 2023 Workshop on Bridging the Lab-to-Real Gap: Conversations with Academia, Industry, and Government</a></li>
            </ul>  
            <strong>Online Learning for Obstacle Avoidance</strong>
            <ul style="list-style-type:none;">
              <li>June 22, 2022: <a href='https://goo.gl/maps/TuQFGuEvJmvJtroVA'>Google Office Princeton</a></li>
            </ul>
            If you would like to host me for a talk (virtual or in-person), please <a href="mailto:{{ site.email }}">reach out</a>!
          </div>
