          
          <div class="talks">
            <!-- <h2>talks</h2> -->
            <h2>talks</h2>
            <strong>MonoNav: MAV Navigation via Monocular Depth Estimation and Reconstruction</strong>
            <ul style="list-style-type:none;">
              <li>October 11th, 2023: <a href='https://ssr.princeton.edu/'>SSR Lab</a>, Princeton University</li>
              <li>November 30th, 2023: <a href='https://iser2023.org/'>International Symposium on Experimental Robotics</a>, Chiang Mai, Thailand.</li>
              <li>March 22nd, 2024: <a href='https://www.grasp.upenn.edu/'>GRASP Lab</a>, University of Pennsylvania</li>
              <li>October 25th, 2024: Amazon Robotics Fall Research Symposium</li>
            </ul>  
            <strong>FlowDrone: Wind Estimation and Gust Rejection on UAVs Using Fast-Response Hot-Wire Flow Sensors</strong>
            <ul style="list-style-type:none;">
              <li>March 3rd, 2023: <a href='https://goo.gl/maps/TuQFGuEvJmvJtroVA'>Google Office Princeton</a></li>
              <li>October 22nd, 2023: <a href='https://px4summit2023.sched.com/event/1Px9M/powered-by-px4-learned-uav-gust-rejection-with-fast-hot-wire-flow-sensors-nathaniel-simon-princeton-university'>PX4 Developer Summit</a> <a href='https://static.sched.com/hosted_files/px4summit2023/c4/FlowDrone_PX4DevSummit_231022.pdf'>(Slides)</a></li>
            </ul>  
            <strong>Fast-response hot-wire flow sensors for wind and gust estimation on UAVs</strong>
            <ul style="list-style-type:none;">
              <li>September 9th, 2022: <a href='https://mae.princeton.edu/about-mae/spotlight/research-day-2022'>Princeton MAE Research Day</a></li>
              <li>November 20th, 2022: <a href='https://meetings.aps.org/Meeting/DFD22/Session/G16.1'>APS DFD 2022</a></li>
              <li>April 29th, 2023: <a href='https://sites.clarkson.edu/timfluids/'>Thousand Islands Fluid Dynamics Meeting</a></li>
            </ul>  
            <strong>Go with the Flow: Micro Aerial Vehicles as Lagrangian Particles in the Atmospheric Boundary Layer</strong>
            <ul style="list-style-type:none;">
              <li>November 19th, 2023: <a href='https://meetings.aps.org/Meeting/DFD23/Session/J21.9'>APS DFD 2023</a></li>
              <li>October 1st, 2024: AFOSR Program Review, Rome, NY (Virtual)</a></li>
            </ul>  
            If you would like to host me for a talk (virtual or in-person), please <a href="mailto:{{ site.email }}">reach out</a>!
          </div>
